hello_files/
airquality_files/
mermaid_files/
dashboard_example_files/
document_html_files/
document_pdf_files/
document_revealjs_files/
example_embed/airquality.embed_files/*
example_embed/test.embed_files/*
example_embed/test_files/*
ejercicio_solucion_01*
ejercicio_solucion_02*
ejercicio_solucion_03*
document_word*
document_typst*
.quarto/
images/*.svg
.Rproj.user
data*
